/node_modules
/public/hot
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
storage/framework/cache/data/85/5f/855f92484c8c414d36c1b25cb24876e30229cbbf
storage/logs/laravel.log
storage/logs/laravel.log
public/uploads/temp/*
storage/logs/*
public/uploads/*
storage/logs/laravel.log

.claude/settings.local.json
