/node_modules
/public/hot
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
storage/logs/laravel.log
storage/logs/laravel.log
public/uploads/temp/*
storage/logs/*
public/uploads/*
storage/logs/laravel.log
.phpunit.result.cache
.claude/settings.local.json
composer.lock
storage/framework/cache/data/*
